#weather-banner{
    border: 1px solid black;
    background-image: url("../images/weather-banner.jpg");
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#search-section{
    background-color: lightgray;
    border: 1px solid black;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}

#city-info{
    background-color: lightgray;
    border: 1px solid black;
    height: 225px;
    margin: auto;
    margin-top: 50px;
}

#chosen-city{
    visibility: hidden;
}

#five-day{
    background-color: lightgray;
    border: 1px solid black;
    height: 250px;
    margin: auto;
    padding: 10px;
}

#text-row{
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: pink;
    width: 600px;
}

#forecasttext{
    position: relative;
    text-align: center;
}

#box-row{
    margin: auto;
    margin-top: 0px;
    width: 600px;
    height: 150px;
    padding: 10px;
}

.col-sm-2{
    background-color: turquoise;
    height: 25px;
}

.col-md-2{
    background-color: royalblue;
    margin-left: 5px;
    margin-right: 5px;
    height: 120px;
    width: 125px;
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }